.mdl-layout {
	align-items: center;
  justify-content: center;
}
.mdl-layout__content {
	padding: 24px;
	flex: none;
}

.full{
  width: 100%;
}

.message{
  text-align: center;
}

.icon-container{
  background: #FDFDFD;
  border-radius: 50%;
  margin-left: auto;
}

.icon-container > i{
  color: var(--primary-color) !important;
}

.icon-container:hover, .icon-container > i:hover{
  cursor: default;
}
